smi_risk_monitor:
  target: dev
  outputs:
    dev:
      type: bigquery
      method: service-account
      project: smi-risk-monitor
      dataset: smi_dev
      keyfile: "/path/to/your/service-account-key.json"
      threads: 4
      timeout_seconds: 300
      location: EU
